body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

ul {
  list-style: none;
  padding: 0;
}
.weatherApp {
  max-width: max-content;
  margin: 15px auto;
  border-radius: 20px;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
}
.searchCity {
  padding: 20px 20px 0px 20px;
}

.button {
  border-radius: 50px;
  border: 1px solid white;
  box-shadow: none;
  color: grey;
  font-style: italic;
}
#choose-unit {
  color: grey;
  font-style: italic;
}
#current-location {
  font-family: "Cabin Sketch", cursive;
  font-size: 60px;
  text-transform: uppercase;
  color: rgb(130, 63, 146, 0.6);
}
#current-date {
  font-family: "Text Me One", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
#current-time {
  font-family: "Text Me One", sans-serif;
  font-size: 18px;
  text-transform: capitalize;
}
.weatherToday {
  padding: 5px 20px;
}
@media screen and (min-width: 640px) {
  img#icon {
    width: 150px;
    text-align: center;
  }
  #card-current-weather {
    background-color: rgb(130, 63, 146, 0.6);
    border: none;
    border-radius: 20px;
    width: 500px;
    color: pink;
    font-family: "Text Me One", sans-serif;
    font-size: 20px;
    margin: 15px 0 0 0;
  }
  #card-body-current-weather {
    padding: 10px;
  }
  #emoji-current {
    text-align: center;
  }
  #description-current {
    text-transform: uppercase;
  }
  #current-temperature {
    text-align: center;
  }
  #temp-current {
    font-size: 100px;
  }
  #degree-sign-current {
    font-size: 90px;
  }
  #min-max-current {
    text-align: right;
  }
  #precipiation {
    text-align: left;
  }
  #windspeed {
    text-align: center;
  }
  #cloudiness {
    text-align: right;
  }
}
.weatherNext {
  padding: 10px 20px;
}
@media screen and (min-width: 640px) {
  #card-next {
    background-color: rgb(130, 63, 146, 0.6);
    border-radius: 20px;
    width: max-content;
    color: pink;
    font-family: "Text Me One", sans-serif;
    font-size: 18px;
    text-align: center;
  }
  #forecast {
    margin: 5px 0 10px 0;
  }
}
