body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

ul {
  list-style: none;
  padding: 0;
}
.weatherApp {
  max-width: max-content;
  margin: 15px auto;
  border-radius: 20px;
}
.searchCity {
  padding: 20px 20px 0px 20px;
}

.button {
  border-radius: 50px;
  border: 2px solid green;
  box-shadow: none;
  color: grey;
  font-style: italic;
}
#choose-unit {
  color: grey;
  font-style: italic;
}
#current-location {
  font-family: "Snowburst One", cursive;
  font-size: 60px;
  text-transform: uppercase;
}
#current-date {
  font-family: "Text Me One", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
#current-time {
  font-family: "Text Me One", sans-serif;
  font-size: 18px;
  text-transform: capitalize;
}
.weatherToday {
  padding: 5px 20px;
}
@media screen and (min-width: 640px) {
  #card-current-weather {
    background-color: transparent;
    border: 1px solid green;
    border-radius: 20px;
    width: 400px;
    font-family: "Text Me One", sans-serif;
    font-size: 20px;
    margin: 15px 0 0 0;
    background-color: green;
  }
  #card-body-current-weather {
    padding: 10px;
  }
  #emoji-current {
    font-size: 100px;
    text-align: center;
  }
  #description-current {
    text-transform: uppercase;
  }
  #temp-current {
    font-size: 100px;
    text-align: center;
  }
  #degree-sign-current {
    font-size: 90px;
  }
  #min-max-current {
    text-align: right;
  }
  #precipiation {
    text-align: left;
  }
  #windspeed {
    text-align: center;
  }
  #cloudiness {
    text-align: right;
  }
}
.weatherNext {
  padding: 10px 20px;
}
@media screen and (min-width: 640px) {
  #card-next {
    background-color: green;
    border: 1px solid green;
    border-radius: 20px;
    width: max-content;
    font-family: "Text Me One", sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0 5px;
  }
}
